@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css?family=Poppins");

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

html {
  scroll-behavior: smooth;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: #0a1322;
  margin: 0;
}

@layer base {
  body {
    @apply text-[#ffff];
  }

  b {
    @apply text-[#ffff];
  }

  h1 {
    @apply text-8xl py-2 font-bold text-[#F0F0F0];
  }

  h2 {
    @apply text-4xl text-[#02CA82] font-bold py-2;
  }

  h5 {
    @apply text-2xl font-normal py-2 text-[#F0F0F0];
  }

  h6 {
    @apply text-[#02CA82] text-xl font-bold text-[#F0F0F0];
  }

  li {
    @apply cursor-pointer;
  }
}

/* main component */
.dot {
  height: 15px;
  width: 15px;
  background-color: #02ca82;
  border-radius: 50%;
  display: inline-block;
  margin-left: 8px;
}

.smdot {
  height: 8px;
  width: 8px;
  background-color: #02ca82;
  border-radius: 50%;
  display: inline-block;
  margin-left: 8px;
}

.contact-button {
  color: green;
  background-color: transparent;
  border: 1px solid green;
  border-radius: var(--border-radius);
  padding: 0.75rem 1.5rem;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  margin-left: 30px;
  margin-top: -10px;
  text-transform: lowercase;
  font-weight: bold;
}

.resume-button {
  color: #00df8f;
  background-color: transparent;
  border: 1px solid #00df8f;
  border-radius: var(--border-radius);
  padding: 0.75rem 2.5rem;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  margin-top: 40px;
  font-weight: 600;
}

/* 
.descrption {
  @apply border-l-4 border-[#ffff]
} */

svg {
  width: 20px;
}

.email-mainpage {
  color: #00df8f;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  transform: rotate(-90deg);
}

.right-side {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 25px;
}

.right-line-mainpage {
  width: 150px;
  height: 1px;
  background: #00df8f;
  transform: rotate(90deg);
}

/* about component style  */
.aboutbuttonsDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.aboutButtons {
  cursor: pointer;
  align-items: flex-start;
  padding: 4px 16px;
  color: #00df8f;
  font-weight: bold;
  background: #122b50;
}

.active {
  background-color: #02ca82;
  color: darkkhaki;
}

.line {
  border-top: 0.5px solid #f0f0f0;
}

image {
  width: fit-content;
  height: fit-content;
}

.overlay {
  background-color: #262729;
  cursor: pointer;
}

/* main component styling starts from here  */
/* 
@layer components {
 .home{
  @apply w-fit sm:h-screen  flex sm:items-center  sm:flex-row flex-col-reverse  justify-between sm:pt-64 pt-28 sm:pb-32 pb-4 

}
.name{
  @apply  sm:text-[88px] text-4xl mt-4 sm:mt-0
}
.desc{
  @apply sm:text-4xl text-2xl
}
} */
#html-spinner {
  /* z-index: ; */
  width: 178px;
  height: 178px;
  border: 6px solid #a8e47e;
  border-top: 4px solid #9ad449;
  border-radius: 100%;
}

#html-spinner,
#svg-spinner {
  transition-property: transform;
  animation-name: rotate;
  animation-duration: 2.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* @-webkit-keyframes rotate {
    from {-webkit-transform: rotate(360deg);}
    to {-webkit-transform: rotate(360deg);}
} 

/* @-moz-keyframes rotate {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(360deg);}
} */

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Rest of page style*/
body {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #393d3d;
}

#container {
  width: 100%;
  max-width: 7000px;
  /* margin:1em auto; */
  position: relative;
}

/* spinner positioning */

#html-spinner,
#svg-spinner {
  position: absolute;
  /* top:0px;
  left: 100px;
  margin-left:-104px; */
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1); /* Add box shadow when sticky */
  /* Add any other styles you want for your sticky Navbar */
}
